/* Elements of login */

.container-all-login {
    margin-top: 1rem;
}

.container-btn .login-button {
    background-color: #da052b;
    width: 100px;
    height: 40px;
    border: 2px solid #000;
    outline: none;
    color: #000;
    display: block;
    margin: auto;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    font-size: .9rem;
    opacity: 1;
}

.container-btn .login-button:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.container-all-logout {
    position: absolute;
    bottom: 40px;
    left: 10px;
}

.container-btn .logout-button {
    background-color: #da052b;
    width: 100px;
    height: 40px;
    border: 2px solid #000;
    outline: none;
    color: #000;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    font-size: .9rem;
    opacity: 1;
}

.container-btn .logout-button:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: linear-gradient(45deg, transparent, transparent 40%, #0b06f8);
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background-color: #000;
    border-radius: 50%;
    z-index: 1000;
}

.loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}

.container-info-mail {
    position: absolute;
    top: 120px;
    left: 10px;
}

.container-info-mail img {
    border-radius: 10px;
}

.container-info-mail h2 {
    margin-top: 20px;
}

.container-info-mail p {
    margin-top: 20px;
    color: #000;
    font-size: 1.3rem;
    font-weight: bold;
}

.container-info-mail textarea {
    color: #000;
    font-size: .9rem;
    font-weight: 800;
    border: 2px solid #000;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
}

.container-back .container-card {
    opacity: 1;
    width: 250px;
    height: 450px;
    background-color: #fff;
    position: absolute;
    top: 120px;
    left: 540px;
    border-radius: 10px;
    z-index: 1;
    border: 2px solid #000;
}

.container-back .container-card h1 {
    text-align: center;
    padding-top: 20px;
}

.container-back .container-card .back-to {
    color: #0b06f8;
    display: flex;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.container-back .container-card h3 {
    padding-left: 20px;
    padding-top: 20px;
    text-align: left;
    justify-content: left;
    line-height: 27px;
    font-size: 1rem;
}

.container-back .container-card ul {
    padding-left: 15px;
    padding-top: 10px;
}

.container-back .container-card ul li {
    padding: 5px;
}

.container-back .container-card .back-to i {
    font-size: 1.2rem;
    padding-right: 5px;
}

.container-back .back-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.6;
}

/* Profile buttons */

.container-modified {
    position: relative;
    left: 335px;
    top: -60px;
}

.container-modified button {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease-in-out;
}

.container-modified button:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.container-modified button.btn-modified-edit {
    background-color: #0b06f8;
    color: #fff;
    width: 70px;
    height: 50px;
    font-size: .9rem;
    font-weight: bold;
}

.container-modified button.btn-modified-delete {
    background-color: #da052b;
    color: #fff;
    font-size: 1rem;
}

/* Main page css */